{% load staticfiles %}

<div class="ui active inverted dimmer">
    <div class="ui text loader">Loading...</div>
</div>

<table class="ui black table">
    <tbody>
        <tr>
            <td>
                <img class="ui wireframe image" src="{% static 'images/short-paragraph.png' %}">
            </td>
        </tr>
        <tr>
            <td>
                <img class="ui wireframe image" src="{% static 'images/short-paragraph.png' %}">
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
        </tr>
    </tfoot>                
</table>
